{% extends 'KayCoreBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Boostez vos connaissances technique</h2>
                <h4>Nos cours vous permettrons d'atteindre la perfection dans vos domaines de prédilections</h4>
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="{{ asset('CSS3_HTML5.png') }}" alt="...">
                            </a>
                            <div class="caption">
                                <h3>HTML5 & CSS3</h3>
                                <p>Concevez votre site web avec HTML5 et CSS3</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="{{ asset('javascript.png') }}" alt="...">
                            </a>
                            <div class="caption">
                                <h3>JavaScript</h3>
                                <p>Dynamiser vos page à l'aide de JavaScript</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="{{ asset('php.png') }}" alt="...">
                            </a>
                            <div class="caption">
                                <h3>PHP</h3>
                                <p>Créer un site web dynamique avec PHP</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary">Voir plus de cours</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="temoignages">
            <div class="col-md-12">
                <h2 class="text-center">Ils nous ont fait confiance !</h2>
                <div class="row">
                    <div class="col-md-12">
                        <div class="media temoignage">
                            <div class="media-left">
                                <img class="media-object pull-right" style="max-height: 100px;" src="{{ asset('assets/img/man.png') }}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Pascal, 35 ans, Développeur</h4>
                                <p>
                                    « J'ai suivis le cours de PHP suite à une demande de mon employeur, celui-ci à été c
                                    onquis par mes nouvelles connaissances ! »
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="media temoignage">
                            <div class="media-left">
                                <img class="media-object pull-right" style="max-height: 100px;" src="{{ asset('assets/img/woman.png') }}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Sophie, 42 ans, Intégratrice</h4>
                                <p>
                                    « Je me sentais dépasser par les nouvelles technologies d'aujourd'hui j'ai donc choisie
                                    la formation d'HTML5 et CSS3, l'équipe de StudyDev m'a permis d'avancer pas à pas
                                    dans mon apprentissage et je me sent a nouveau autonome ! »
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="media temoignage">
                            <div class="media-left">
                                <img class="media-object pull-right" style="max-height: 100px;" src="{{ asset('assets/img/man.png') }}" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Adrien, 22 ans, Développeur Javascript</h4>
                                <p>
                                    « Autodidacte, j'aime apprendre par le biai de cours, formation et tutoriels.
                                    StudyDev m'a permis d'élargir par le biais de leurs cours sur le JavaScript mon pannel de connaissance.
                                    Je les recommande fortement !»
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}