{% extends 'KayPlatformBundle::layout.html.twig' %}

{% block body %}
    <h1>Course</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td>{{ course.introduction }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if course.createdAt %}{{ course.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ course.imageName }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    {{ form(chapter_form) }}
    <hr>

    <ul>
        <li>
            <a href="{{ path('courses_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('courses_edit', { 'id': course.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
